<div class="container">

  <div class="row h-100 flex-wrap">
  

    <div class="col-md-6 col-lg-4 about">
      Discovery Design and Development is a web design and development studio based in Barcelona.
    </div>
    
      <div class="col-md-6 col-lg-4 box border-0">
        <%= link_to '/w1953' do %>
          <div class="web-card">
                  <div>
                      1953
                  </div>
                  <div class="overlay-1953"></div>
              </div>
        <% end %>
      </div>

    <div class="col-md-6 col-lg-4 box">
        <%= link_to '/islandhopper' do %>
          <div class="web-card">
                  <div>
                      Island Hopper
                  </div>
                  <div class="overlay-IH"></div>
              </div>
        <% end %>
    </div>

    <div class="col-md-6 col-lg-4 box border-0">
      <%= link_to '/contact' do %>
        <div>
          Contact us.
        </div>
      <% end %>
    </div>

    <div class="col-md-6 col-lg-4 box">
        <%= link_to '/ovrwhelm' do %>
          <div class="web-card">
                  <div>
                      Ovr.Whelm
                  </div>
                  <div class="overlay-OW"></div>
              </div>
        <% end %>
    </div>

    <div class="col-md-6 col-lg-4 box text-right border-0">
      <div>
        Unique, professional web designs, developed using the latest tools.
      </div>
    </div>
  </div>


</div>