 <header>
 <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-0 mb-lg-0">

          <li class="li active">
            <a href="website1.html" class="navlink" id="web0">
              Home
            </a>
          </li>
          
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle li" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Portfolio
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item navlink" href="website1.html" id="web1">
                Website 1
              </a>
              <a class="dropdown-item navlink" href="website1.html" id="web2">
                Website 2
              </a>
              <a class="dropdown-item navlink" href="website1.html" id="web3">
                Website 3
              </a>
          </li>
          
          
          <li class="li"></li>
          <a href="website1.html" class="navlink" id="web4">
            About
          </a>
          </li>
          
          <li class="li">
            <a href="website1.html" class="navlink me-2" id="web5">
              Contact
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>