 <header>
 <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
         <div class="footer-links">
   <a href="mailto:dtoner522@gmail.com" target="_blank"><i class="far fa-envelope"></i></a>
    <a href="https://github.com/dtoner522" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/dtoner522/" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-0 mb-lg-0">

          <li class="li active">
            <a href="/" class="navlink" id="web0">
              Home
            </a>
          </li>
          
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle li" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Portfolio
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item navlink" href="/w1953" id="web1">
                1953
              </a>
              <a class="dropdown-item navlink" href="/islandhopper" id="web2">
                Island Hopper
              </a>
              <a class="dropdown-item navlink" href="/ovrwhelm" id="web3">
                Ovr.Whelm
              </a>
          </li>
          
          
          <li class="li"></li>
          <a href="/about" class="navlink" id="web4">
            About
          </a>
          </li>
          
          <li class="li">
            <a href="/contact" class="navlink me-2" id="web5">
              Contact
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>