<div class="container">

    <div class="row h-100 flex-wrap">
        <div class="d-flex col-md-6 col-lg-8 flex-wrap m-0 p-0">
        <div class="col-md-12 col-lg-6 box">
            <div>
                box.
            </div>
            </div>

        <div class="col-md-12 col-lg-6 box">
        <div>
            box.
        </div>
        </div>

        <div class="col-md-12 col-lg-6 box">
        <div>
            box.
        </div>
        </div>

        <div class="col-md-12 col-lg-6 box">
        <div>
            box.
        </div>
        </div>
    </div>

    <div class="col-md-6 col-lg-4 box about about-show">
      <p class="bg-white h-100 w-100 m-0 p-0">This is a p where the text will go. Great text, beautiful text.</p>
    </div>


</div>