<div class="container">
    <div class="row h-100 flex-wrap mx-auto about-me">
      <div class="col-lg-6 box about about-show d-block text-justify overflow-auto bg-white">
          <div class="title d-inline"> Discovery</div>
          <p class="mb-5 mt-1"><em>Discovery design and development is the creative studio and showcase for full-stack web developer Dáire Toner.</em></p>
          
            <p>
              Hi, I'm Dáire.
            </p>
            <p>Discovery Design & Development came about as a result of realising a long-term goal of mine to jump into design and tech.
            </p>
            <p>Fusing a passion for design with unique, fully-responsive websites is the heart of Discovery.
            </p> 
             <p>Aiming to step away from the bland, identical design patterns that have proliferated the web in recent history, Discovery's goal is to bring colour, life and interest back into web design.
             </p>
      </div>
      <div class="col-lg-6 box">
        hi
      </div>


</div>