<div class="container">
    <div class="row h-100 col-lg-9 col-md-12 flex-wrap mx-auto">
        <div class="col-md-7 col-lg-7 box about about-show d-block text-justify overflow-auto bg-white">
          <div class="title d-inline"> Discovery</div>
          <p class="mb-5 mt-1"><em>Discovery design and development is the creative studio and showcase for full-stack web developer Dáire Toner.</em></p>
          
            <p>
              Hi, I'm Dáire.
            </p>
            <p>Discovery Design & Development came about as a result of realising a long-term goal to jump into design and tech.
            </p>
            <p>Fusing a passion for design with unique, exciting, and responsive websites is the at the heart of Discovery's ethos.
            </p> 
             <p>Aiming to step away from the bland, identical design patterns that have proliferated the web in recently, Discovery's goal is to bring colour, life and interest back into web design.
            </p>
        </div>

        <div class="col-md-5 col-lg-5 profile-box bg-white align-content-center justify-content-center p-0 m-0">
          <img src="https://res.cloudinary.com/dtoner522/image/upload/v1617876456/DDD/profile1_t7dygf.jpg" alt="" class="pr-2 mt-5 img-fluid rounded-circle h-50">
        </div>



</div>