 <%= render 'navbar' %>
 <!--keep this for the navbar  <id="navposit">--> 

<body>

<div class="container">

  <div class="row h-100 flex-wrap">

    <div class="col-md-4 box about">
      Discovery Design and Development is a web design and development studio based in Barcelona.
    </div>
    <div class="col-md-4 box">
      <div>
        box.
      </div>
    </div>
    <div class="col-md-4 box">
      <div>
        box.
      </div>
    </div>

    <div class="col-md-4 box">
      <div>
        box.
      </div>
    </div>
    <div class="col-md-4 box">
      <div>
        box.
      </div>
    </div>
    <div class="col-md-4 box">
      <div>
        box.
      </div>
    </div>
  </div>


</div>