<div class="container">
    <div class="col-lg-8 h-100 align-items-center">
    <div class="my-slider">

    <img src="background-image: url('https://res.cloudinary.com/dtoner522/image/upload/v1617552327/DDD/ih3_nlhgaq.png');" alt="">
    <div>Slide 2</div>
    <div>Slide 3</div>
  </div>
  </div>


</div>