<div class="container">

  <div class="row h-100 flex-wrap bg-white p-3">

        <div class="col-xs-12 col-lg-4 box about about-show d-block text-justify overflow-auto">
          <span><i class="fas fa-xs fa-external-link-alt d-inline"></i></span><div class="title d-inline"> Ovr.Whelm</div>
          <p class="mb-5 mt-1"><em>Coming soon...</em></p>
          
            <p>
              Ovr.Whelm is a task manager app that puts the user completely in control of their day.
            </p>
            <p>The app features a modern, fresh design, with an emphasis on simplicity.
            </p>
            <p>Ovr.Whelm is built on an MVC framework with a stack including Ruby on Rails, HTML, CSS, JS, Bootstrap, Postgre SQL and more.
            </p>
        </div>


      <div class="col-md-12 col-lg-8 h-100 d-flex align-items-center bg-white w-100">
      <img src="https://res.cloudinary.com/dtoner522/image/upload/v1617971385/DDD/ovrwhelm_qaab84.png" alt="" class="img-fluid">
        </div>

  </div>

</div>