<div class="container">

  <div class="row h-100 flex-wrap border border-1 border-white justify-content-center p-3">
    <div class="bg-white">
      <div class=""></div>
    </div>

    
    
    
    
    
    <%# ------need to fix overflow issue here!------
    <div class="col-md-6 col-lg-4 box about about-show d-block text-justify">
      <div class="m-1 mt-2 p-3 bg-white">
          <div class="title">1953.live</div>
          <p class="mb-5"><em>Share your stories</em></p>
          
            <p>
              1953 is a web-first marketplace app designed to help book lovers exhange books, make friends, and share stories.
            </p>
            <p>Working as a team, the app was implemented from conceptualisation through design, development and production.
            </p>
            <p>1953 is built on an MVC framework with a stack including Ruby on Rails, HTML, CSS, JS, Figma, Postgre SQL and more.
            </p>
            <p>1953's features include a live chat to arrange swaps, a search utilising Google Books API, and geolocation, allowing users to see the closest books to them.
            </p>
        
        </div>
    </div>

    <div class="d-flex col-md-6 col-lg-8 flex-wrap m-0 p-0">
      <div class="col-md-12 col-lg-6 pic-box pic-box-1953B">
        <img src="https://res.cloudinary.com/dtoner522/image/upload/v1617474049/DDD/19531_h6rt0z.png" alt="" class="image-fluid h-100 w-auto border border-1 border-white p-2">
        </div>

      <div class="col-md-12 col-lg-6 pic-box pic-box-1953B">
          <img src="https://res.cloudinary.com/dtoner522/image/upload/v1617477299/DDD/19532_fhzybx.png" alt="" class="image-fluid h-100 w-auto border border-1 border-white p-2">
      </div>


    <div class="col-md-12 col-lg-6 pic-box pic-box-1953S">
      <div>
        pic.
      </div>
    </div>
    <div class="col-md-12 col-lg-6 pic-box pic-box-1953S">
      <div>
        stack used:
      </div>
    </div>
  </div>
  </div> %>


</div>