body, html {
    height: 100%;
  }
  
  body {
    /* The image used */
    /* background-image: url("https://res.cloudinary.com/dtoner522/image/upload/v1617270733/disc4_yptvd2.png"); */
    background-attachment: scroll;
    background-color: lightblue;
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin :0px;
    background-attachment: fixed;
  }
  #navposit {
    width: 100%;
    /*box-shadow: 0 2px 4px 0 rgba(0,0,0,.1); */
  
    /*pushes down bg without this */
    /* position: absolute; 
    background: none; */
  }

  .container {
    height: 90vh;
  }
  
  .box, .box-2 {
    display: flex;
    font-family: "Jost";
    color: white;
    font-size: 2rem;
    text-align: left;
    border: white solid 1px;
    max-height: 50%;
    margin: 0;
    overflow: hidden;
    min-height: 50%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
  
  .about {
    font-family: "Jost";
    color: white;
    font-size: 2rem;
    text-align: left;
    border: white solid 1px;
  }

  .about-show {
    font-family: "Jost";
    font-size: 2rem;
    text-align: left;
    max-height: 100%;
    min-height: 100%;
    color: grey;
    background-color: white;
  }
  
  .navlink:link, .navlink:visited {
    color:	white;
    font-family: "Jost";
    font-weight: 300;
    font-size: 25px;
    text-transform: uppercase;
    list-style-type: none;
    margin-right: 12px;
    text-decoration: none;
  }
  
   #navbarDropdown {
    color: white;
    font-family: "Jost";
    font-weight: 400;
    font-style: bold;
    font-size: 25px;
    text-transform: uppercase;
    list-style-type: none;
    display: inline;
  }
  #navbarDropdown:hover {
    color: #66CCCC;
  }
  #web0:hover{
    color:#33FFFF;
  }
  #web1:hover {
   color:#66CCCC ;
  }
  #web2:hover {
    color: #56c1d1 ;
   }
   #web3:hover {
    color: #52b4d3 ;
   }
   #web4:hover {
    color: #6699CC ;
   }
   #web5:hover {
    color:#3792E6;
   }
   .col-md-4 {
     background-color: transparent;
   }

   a, a:hover {
     text-decoration: none;
     color: inherit;
   }

   /* -------------------- */
   
         /* 1953 */
  .overlay-1953 {
    background-image: url("https://res.cloudinary.com/dtoner522/image/upload/v1617394116/DDD/Screenshot_2021-04-02_22_00_01_uof8ug.png");
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
  }

  .web-card:hover .overlay-1953 {
  width: 100%;
}

       /* Island Hopper */
  .overlay-IH {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.web-card:hover:hover .overlay-IH {
  bottom: 0;
  height: 100%;
}



  
  .text {
    color: slategray;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
  }
